<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BikeSharing360</title>
    <link rel="shortcut icon" type="image/png" href="~/Content/www/favicon.ico"/>
    <link href="~/Content/build/css/styles.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        !function(v,y,T){var S=v.location,k="script",C="instrumentationKey",z="ingestionendpoint",E="disableExceptionTracking",A="ai.device.",M="toLowerCase",I=(C)[M](),b=T||y["applicationInsightsSDK"];(v[b]=v[b]||function(){(v[b].q=v[b].q||[]).push(arguments)});var n=y.createElement(k),r=y.getElementsByTagName(k)[0];n.src="https://js.monitor.azure.com/scripts/b/ai.3.gbl.min.js";r.parentNode.insertBefore(n,r)}(window,document);
        var defined = "@System.Configuration.ConfigurationManager.AppSettings["APPLICATIONINSIGHTS_CONNECTION_STRING"]";
        if (defined && defined.indexOf("YOUR_INSTRUMENTATION_KEY") === -1) {
            var init = new Microsoft.ApplicationInsights.ApplicationInsights({
                config: { connectionString: defined }
            });
            var appInsights = init.loadAppInsights();
            appInsights.trackPageView();
        }
    </script>
</head>
    <body>
        @RenderBody()
        <script type="text/javascript" src="~/Content/build/js/libs.js"></script>
        <script type="text/javascript" src="~/Content/build/js/main.js"></script>
    </body>
</html>